.navigation {
  grid-column: 2 / -1;

  &__list {
    list-style: none;
    display: grid;

    grid-template-columns: 30vw [nav-start] repeat(5, min-content) [nav-end] 1fr;
    grid-column-gap: 2rem;

    align-items: center;
  }

  &__item {
    text-align: center;

    &--1 {
      grid-column: 2 / 3;
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: var(--color-black);
    text-decoration: none;
    // font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;

    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#000, 0.05);
    transform: translateY(-3px);
  }
}
